#heading {
    color: rgb(128, 141, 141);
    background-color: antiquewhite;
}

p {
    font-size: 1rem;
    font-family: cursive;
}

body {
    background: rgb(15, 96, 71);
}

.peetoo {
    font-family: 'Courier New', Courier, monospace;
    border-top: 4rem;
}