*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(176, 168, 168);
}
/*  
body{
    font-size: 24px;
}
   
#first, second{
    color: rgb(50, 82, 31);
}
.classe{
    background-color: aliceblue;
    font-style: italic;
    color: blue;

}
.secondclass{
    background-color: aquamarine;
}
     */
.t{
    background-color: rgb(176, 67, 67);
    font-size: 28px;
}
/* this is sudo selector */
/* p:hover{
    font-family: monospace;
} */
/* importent */
.classe{
    background-color: aliceblue !important;
    font-style: italic;
    color: rgb(154, 154, 211);

}
